* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: grey;
    color: honeydew;
}
header a {
    color: inherit;
}

.header-content{
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}
main{
    flex: 1;
    height: auto;
    background-color: honeydew;
    color: grey;
}
.main-content{
    max-width: 1100px;
    margin: 0 auto;
    padding: 25px 10px;
}
footer{
    height: auto;
    background-color: grey;
    color: honeydew;
}
.footer-content{
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}